*{
    --color1:#F22233;
    --color2: #D91E41;
    --color3:#733907 ;
    --color4:#F24E29 ;
    --color4:#ecdcdc;

}

.mp a:hover{
    color: red
}

.mp a{
    color:black;
    text-decoration: none;}
    